.section {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section h1 {
  color: var(--color-light);
  font-family: var(--font-formal);
  font-size: 4rem !important;
}

.texture {
  background: repeating-linear-gradient(90deg,
      #11111f 0px,
      /* Azul negruzco */
      #11111f 3px,
      #000000 3px,
      /* Azul oscuro */
      #000000 6px)
}

.footer {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  background: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 1rem;
  gap: .2rem;
}

.footer h3 {
  font-family: var(--font-formal);
  font-size: var(--font-size-3);
}

.footer p {
  font-size: var(--font-size-2);
  text-align: center;
  font-style: italic;
}


@media (max-width: 750px) {
  .section h1 {
    font-size: 5rem;
  }
}