:root {
  --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  --font-formal: 'Gloock', system-ui, -apple-system, sans-serif;

  --font-size-1: 16px;
  --font-size-2: 18px;
  --font-size-3: 25px;

  --color-dark: #131313;
  --color-light: #fffff1;
  --color-brown-dark: #150d04;
  --color-brown-light: #ffffbf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-inter);
  color: var(--color-brown-dark);
  margin: 0;
  padding: 0;
  background: var(--light);
}

* {
  padding: 0;
  margin: 0
}